#columns{margin:20px;color:blue;font-size:12px;}
#constraints{margin:20px;font-size:12px;}
.options{width:500px;font-size:15px;margin-left:20px;padding-left:20px;}
.conditions{font-size:17px;margin-bottom:5px;}
